{
  "extends": [
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "import"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".json"
        ]
      }
    }
  }
}